nltk==3.9.1
numpy==2.3.0
pandas==2.3.0
pdfplumber==0.11.7
plotly==6.0.0
protobuf==6.31.1
PyPDF2==3.0.1
scikit_learn==1.7.0
spacy==3.8.7
streamlit==1.45.1
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-aiplatform==1.79.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-cloud-texttospeech==2.25.1
google-crc32c==1.6.0
google-genai==1.15.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
